.query
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  form

    input
      color: $black
      font-weight: bold
      height: 40px
      text-align: center
      width: 250px

    button
      color: $black
      font-weight: bold
      height: 44px
      margin-left: 5px
      width: 250px