.rank-box
  align-items: center
  background-color: $green-background
  border-radius: 5px
  color: white
  display: flex
  padding-right: 15px
  padding-left: 15px
  margin-top: 10px
  margin-bottom: 20px
  width: min-content

  .rank
    font-size: 1.5em
    padding-left: 15px

  h5.rank
    width: min-content
    padding: 0
    margin: 0
    padding-left: 5px

  @media ( min-width: $breaking-point1 )
    float: right
    margin-left: auto

